<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.retryanalyzer.RetryTranformer" />
	</listeners>

  <test thread-count="5" name="Test">
    <classes>
      <class name="com.tests.HomePageTest"/>
      <class name="com.tests.HomePageTest2"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
